#head{
    letter-spacing: 2px;
    background-color:blueviolet;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
}
body{
    background-color:green;
    color: white;
}
.copy_right_footer{
    text-shadow: green 5px 5px 5px;
    text-align: center;
    line-height: 2;
    font-size: 30px;
    background-color:blueviolet;
    width:50%;
    margin-left:350px;
    bottom:0;
    position:fixed;}
    